body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
}

.inner {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

/* HEADER */
header {

  margin: 0 auto;
  border-bottom: 1px solid #999;
}

header .menu {
  padding: 5px 0 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

header .left-menu {}

header .left-menu ul {
  display: flex;
}

header .left-menu ul li {
  padding: 0 3px;
  box-sizing: border-box;
}

header .left-menu ul li::before {
  content: "|";
  padding-right: 3px;
  color: #777;
}

header .left-menu ul li:first-child {
  font-weight: 700;
}

header .left-menu ul li:first-child::before {
  content: '';
  display: inline-flex;
  width: 18px;
  height: 14px;
  background: url('./images/hd_5.0.png') no-repeat 0 0;
}

header .right-menu {}

header .right-menu ul {
  display: flex;
}

header .right-menu ul li {
  padding-right: 3px;
  box-sizing: border-box;
}

header .right-menu ul li:first-child a {
  display: none;
}

header .right-menu ul li:nth-child(2) a {
  color: #0096FF;
  font-weight: 700;
}

header .right-menu ul li::before {
  content: "|";
  padding-right: 3px;
  color: #777;
}

header .right-menu ul li:nth-child(1)::before,
header .right-menu ul li:nth-child(2)::before {
  content: "";
}

header .search {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
}

header .search a img {
  width: 7.5rem;
  padding: 0 10px;
  box-sizing: border-box;
}

header .search .text {
  width: 350px;
  height: 36px;
  border: none;
  background: none;
  border-bottom: 2px solid #0096FF;
  margin-left: 4px;
}

header .search .btn--search {
  width: 40px;
  height: 36px;
  background: url('./images/hd_5.0.png') no-repeat -45px 5px;
  border: 0px;
}

header .nav-mobile {
  display: none;
}

header .nav-pc {
  margin-top: 5px;
  display: flex;
}

header .nav-pc ul {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: flex-end;
  margin-bottom: 10px;
}

header .nav-pc ul li {
  padding: 0 5px;
  box-sizing: border-box;
  margin: 5px;
}

header .nav-pc ul li a:hover {
  color: #0096FF;
}

header .nav-pc .sub_menu {
  position: absolute;
  border: 1px solid #0096FF;
  border-top: 4px solid #0096FF;
  background-color: #fafafa;
  display: none;
}

header .nav-pc .list:hover .sub_menu {
  display: block;
  z-index: 10;
}

header .nav-pc .sub_menu li {
  font-weight: 500;
  font-size: 14px;
}

header .nav-pc .login {
  width: auto;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  font-size: 14px;
}

header .nav-pc .down {
  width: 10px;
  height: 10px;
  background: url('./images/hd_5.0.png') no-repeat -15px -15px;
  border: 0px;
  margin-left: 5px;
}

.new_music {
  background-color: pink;
}

.new_music .top {
  background-color: lightseagreen;
  margin-top: 30px;
  margin-bottom: 10px;
}

.new_music .top ul {
  display: flex;
}

.new_music .top ul:first-child {
  font-size: 1.2rem;
}

.new_music .top ul li button {
  padding: 0 8px;
  border: 0;
  background-color: transparent;
  color: #666;
}

.new_music .album {}

.new_music .album ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px 0;
}

.new_music .album ul li {
  position: relative;
}

.new_music .album ul li::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  background-image: url('./images/mask_recent.png');
  background-repeat: no-repeat;
}

.new_music .album ul li img {
  width: 150px;
}

.new_music .album ul li .title {
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  right: 0;
  color: white;
  display: flex;
  justify-content: center;
  padding: 2px;
  box-sizing: border-box;
}

.new_music .album ul li .title span {
  font-size: 13px;
}

.new_music .album .album-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, .75);
  color: #fff;
}

.new_music .album .album-info .singer {
  display: flex;
  justify-content: center;
}

.new_music .album .album-info .song {
  display: flex;
  justify-content: center;
}

.new_music .album .album-info .btn-song {}

.new_music .album .album-info .btn-song .play {}

.new_music .album .album-info .btn-song .plus {}

.promotion {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 104px;
  margin-top: 23px;
  background-color: #e8eef3;
}

.promotion .left {
  display: flex;
}

.promotion .right {
  display: flex;
}